@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
:root{
  --color:#e8e9a4;
  --fondo:#7892da5e;
  --Superior:#597e78;
  --border-radius:10px
}
.presentacion{
  color: rgb(0, 0, 0); 
  background-color: var(--Superior);
  padding: 12px;

}
.title{
  text-align: center;
}
body{
  margin: 0 auto;
  text-align: center;
  background-color: var(--fondo)

}
.MundoGoku{
  width:350px;
  height:470px;
  background-color:var(--color);
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px;
  display: inline-block;  

}
.img1{
  width:260px;
  height:290px;
  margin: 10px auto;
  padding: 10px auto;
  display: block;

}
p{
  font-size: 11px;
  text-align: center;
  padding:10px 0px 0px 5px;
  font-family: "Playwrite NG Modern", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;

}
.Titulo{
  font-weight: bold;
  color:rgb(255, 255, 255);
  font-size: 15px;
  text-align: center;

}
button{
  width: 80px;
  height: 30px;
  padding:10px auto;
  font-size:10px;
  margin: 0px auto;
  background:rgb(255, 102, 0);
  display:block;
  border-radius:10px 10px 10px 10px;

}
