@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.presentacion{
  color: rgb(0, 0, 0);
  background-color: rgba(185, 119, 20, 0.664);
  padding: 12px;

}
.title{
  text-align: center;
}
body{
  margin: 0 auto;
  text-align: center;
  background-color: rgb(252, 188, 15);
}
.box1{
  width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px;
  display: inline-block;  

}
.img1{
  width:260px;
  height:290px;
  margin: 10px auto;
  padding: 10px auto;
  display: block;

}
p{
  font-size: 11px;
  text-align: center;
  padding:10px 0px 0px 5px;
  font-family: "Playwrite NG Modern", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;

}
.Titulo{
  font-weight: bold;
  color:rgb(255, 255, 255);
  font-size: 15px;
  text-align: center;

}
button{
  width: 80px;
  height: 30px;
  padding:10px auto;
  font-size:10px;
  margin: 0px auto;
  background:rgb(255, 102, 0);
  display:block;
  border-radius:10px 10px 10px 10px;

}
/*Segunda imagen*/
.box2{
 width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img2{
  width:280px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
}

/*Tercera imagen*/
.box3{
 width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img3{
  width:280px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
}
/*Cuarta imagen*/
.box4{
 width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img4{
  width:280px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
}

/*Quinta imagen*/

.box5{
 width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img5{
  width:280px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
}
/*Sexta imagen*/

.box6{
 width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img6{
  width:280px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
}
/*Septima imagen*/
.box7{
 width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img7{
  width:280px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
}
/*Octava imagen*/
.box8{
 width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img8{
  width:300px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
}
/*Novena imagen*/
.box9{
 width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img9{
  width:300px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
}
/*Decima imagen*/
.box10{
 width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img10{
  width:300px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
}
/*once imagen*/
.box11{
  width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img11{
  width:250px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
}
/*doce imagen*/

.box12{
  width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img12{
  width:300px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
}
/*trece imagen*/

.box13{
 width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img13{
  width:300px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
}
/*14 imagen*/

.box14{
 width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img14{
  width:250px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
}
/*15 imagen*/

.box15{
 width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img15{
  width:300px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
}

/*16 imagen*/
.box16{
 width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img16{
  width:300px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
}

/*17 imagen*/
.box17{
 width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img17{
  width:300px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
}

/*18 imagen*/
.box18{
 width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img18{
  width:300px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
}

/*19 Imagen*/ 

.box19{
 width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img19{
  width:300px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
}
/*20 Imagen*/ 

.box20{
 width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img20{
  width:300px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
}
/*21 Imagen*/ 

.box21{
 width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img21{
  width:300px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
}
/*22 Imagen*/ 
.box22{
 width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img22{
  width:300px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
}
/*23 Imagen*/ 
.box23{
 width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img23{
  width:300px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
}
/*24 Imagen*/ 
.box24{
 width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img24{
  width:300px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
}
/*25 Imagen*/ 
.box25{
 width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img25{
  width:300px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
}
/*26 Imagen*/ 
.box26{
 width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img26{
  width:300px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
}
/*27 Imagen*/ 
.box27{
 width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img27{
  width:300px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
}
/*28 Imagen*/ 
.box28{
 width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img28{
  width:300px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
}
/*29 Imagen*/ 
.box29{
 width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img29{
  width:300px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
}
/*30 Imagen*/ 
.box30{
 width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img30{
  width:300px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
}
/*31 Imagen*/ 
.box31{
 width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img31{
  width:300px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
}
/*32 Imagen*/
.box32{
 width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img32{
  width:300px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
} 
/*33 Imagen*/ 
.box33{
 width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img33{
  width:300px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
}
/*34 Imagen*/ 
.box34{
 width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img34{
  width:300px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
}
/*35 Imagen*/ 
.box35{
 width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img35{
  width:300px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
}
/*36 Imagen*/ 
.box36{
 width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img36{
  width:300px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
}
/*37 Imagen*/
.box37{
 width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img37{
  width:300px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
}
/*38 Imagen*/ 
.box38{
 width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img38{
  width:300px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
}
/*39 Imagen*/
.box39{
 width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img39{
  width:300px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
} 
/*40 Imagen*/ 
.box40{
 width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img40{
  width:300px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
}
/*41 Imagen*/ 
.box41{
 width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img41{
  width:300px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
}
/*42 Imagen*/ 
.box42{
  width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img42{
  width:300px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
}
/*43 Imagen*/ 
.box43{
  width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img43{
  width:300px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
}
/*44 Imagen*/ 
.box44{
  width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img44{
  width:300px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
}
/*45 Imagen*/ 
.box45{
  width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img45{
  width:300px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
}
/*46 Imagen*/ 
.box46{
  width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img46{
  width:300px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
}
/*47 Imagen*/ 
.box47{
  width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img47{
  width:300px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
}
/*48Imagen*/ 
.box48{
  width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img48{
  width:300px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
}
/*49 Imagen*/ 
.box49{
  width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img49{
  width:300px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
}
/*50 Imagen*/ 
.box50{
  width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img50{
  width:300px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
}
/*51 Imagen*/ 
.box51{
  width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img51{
  width:300px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
}
/*52 Imagen*/ 
.box52{
  width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img52{
  width:300px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
}
/*53 Imagen*/
.box53{
  width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img53{
  width:300px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
} 
/*54 Imagen*/ 
.box54{
  width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img54{
  width:300px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
}
/*55 Imagen*/ 
.box55{
  width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img55{
  width:300px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
}
/*56 Imagen*/ 
.box56{
  width:350px;
  height:470px;
  background-color:#00000048;
  margin: 10px 5px 10px 5px;
  padding: 10px  15px ;
  border-radius:10px 10px 10px 10px ;
  display: inline-block;  
}
.img56{
  width:300px;
  height:290px;
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  display: block;
}
